*{
    padding: 0;
    margin: 0;
}

.contact-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('ravis.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.contact-main{
    height: 40%;
    width: 60%;
    background-color: rgba(126, 243, 243,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 50px rgb(41, 229, 239);
}
h1,p,.icons{
    padding-top: 1.1rem;
}
.icons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}